name: WF3 - Steps outpus

on:
   workflow_dispatch:
defaults:
  run:
    shell: bash
 
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Set debug
        id: set-debug-stage
        run: printf 'BUILD_STAGE=%s\n' "debug" >> "$GITHUB_OUTPUT"
        
      - name: Get stage
        run: printf 'The build stage is %s\n' "${{ steps.set-debug-stage.outputs.BUILD_STAGE }}"
