name: WF5 - Outputs from Action used in a step

on:
   workflow_dispatch:
defaults:
  run:
    shell: bash

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v6

      - name: Capture output from above step
        run: printf 'The artifact tag is %s\n' "${{ steps.changelog.outputs.version }}"
